<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Landing Page</title>
</head>

<body>
    <header>
        <div class="logo"></div>
        <nav>
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                <li><a href="{{ url_for('upload') }}">Upload</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <h1>International Day Against Cervical Cancer</h1>
        <p>Supporting those affected and raising awareness worldwide.</p>
    </section>
</body>

</html>