/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('../images/bg_image.avif') no-repeat fixed;
    background-size: contain;
    color: black;
    display: flex;
    background-size: 40% 50%;
    background-position: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: black;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    animation: slideUp 1.5s ease;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

input[type="file"] {
    color: #ffffff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
    animation: bounce 0.5s ease;
}

/* Result Page Styling */
.result-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.result-container p {
    font-size: 1.2em;
    margin: 15px 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    font-size: 1em;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Slide-up animation */
@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Bounce animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}